*{
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url("../image/nkar1.jpg");
}
.div_1{
    position: relative;
    border: none;
}


.div_2{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
    border: 1px inset black;
    padding: 10px 30px 55px 30px;
    border-radius: 15px;
    
}

form .div_3{
    position: relative;
    
    margin: 30px 0px;
}
.div_3 input{
    width: 600px;
    padding: 0px 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    
    
}
form label{
    position: absolute;
    top: 32%;
    left: 5px;
    color:  #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}
.div_3 span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 600px;
    height: 2px;
    background: #2691d9;
    transition: .5s;

}
.div_3 input:focus ~ label,
.div_3 input:valid ~ label{
    top: -5px;
    color: #2691d9 ;

}
.div_3 input:focus ~ span::before,
.div_3 input:valid ~ span::before{
    width: 600px;
}
.submit_3{
    background-color: #e8f62a;
    width: 600px;
    height: 45px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
   
}
.submit_4{
    width: 344px;
}
.h1_1{
    text-align: center;
    font-size: 26px;
    color: white;
    border-bottom: 2px solid #adadad;
    margin: 48px 0px;

}
.submit_3:hover{
    background-color: rgba(4, 177, 110, 0.947);
}